/* Hack aplicado para Google Chrome - Campo de Pesquisa - Módulos do Projeto*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.panel-heading-controls.chrhack  { 
		width:22%;
	}
}
/* Define altura base dos Módulos */
.btn.btn-sm{height:36px;}


/*
html,body{height:100%;}
#main-wrapper{height:100%;}
#content-wrapper{height:100%;}
.row.pr{height:100%;}
.col-sm-12{height:100%;}
.col-md-9.mp{height:100%;}
.col-md-3.fp{height:100%;}
.panel.colourable.mp{height:10%;}
.panel.colourable.fp{height:100%;}
*/